body {
    background-color: #212121; 
}

.heading-jumbo {
    background-color: #212121
}
.heading {
    height: 4rem;
}

.expand {
    color:#ffff; 
}

.CustomNav{
    background-color:#212121; 
}
.navbar-brand {
    color: #ffffff
}

.navbar-brand:hover  {
    color: #ffffff
}
.nav-link  {
    color: lightslategray
}
.nav-link:hover {
    color: #ffffffff
}

.active {
    color: #ffffffff !important
}

.search_button {
    background-color: #2c3e50
}
.search_button:hover {
    background-color: #ffff;
    color: #212121
}

.quote-body {
    background-color: #c2c2c2
}

.quote-footer {
    background-color: #aeaeae
}

.card-link {
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    /*border is optional*/
    border-bottom:0.5px solid #444; 
    cursor: pointer;

    color: #2c3e50;
    font-size: 15px;
}

.card-link:hover {
    color: #aeaeae
}

.footer {
    clear:both;
    color: #ffffff; 
}

a {
    color: lightslategray; 
}

a:hover {
    color: #ffffff; 
}

.custom-toggler.navbar-toggler {
    border-color:#ffff;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}