{% extends 'base.html' %}

{% block title %}Quotes{% endblock title %}

{% comment %} loads all static files {% endcomment %}
{% load static %}

{% block heading %}
<h1>Bushmen Quotes</h1>
<p>Words uttered by various members of the Bushmen throughout the years </p>
{% endblock heading %}

{% block body %}
    <div class="row">
        {% for quote in quotes %}
            <div class="col-md-4 col-lg-4"  style="padding-bottom:15px;">
                <div class="card" >
                    <div class="card-body">
                        <h5 class="card-title">{{ quote.author }}  <span class="card-subtitle mb-2 text-muted" style="font-size:15px;">{{ quote.date }}</span></h5>
                       
                         <form method="POST">
                                {% csrf_token %}
                                <div style="position:absolute; top:10px; right:10px;">
                                    <input type="button" class="btn btn-outline-danger pull-right" onclick="confirmDelete({{ quote.qid }})" value="×">
                            </div>
                        </form>
                        
                        <p class="card-text">{{ quote.quote }}</p>
                        <p class="card-subtitle mb-2 text-muted">{{ quote.context }}</p>
                        <a class="card-link" href="" onclick="searchByAuthor({{ quote.author }})">All {{ quote.author }} Quotes</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- DELETE QUOTE -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="del-title">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="del-body">
                <p>Are you sure you would like to delete this quote?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="qid">
                    <button class="btn btn-danger" id="del-confirm" type="submit" name="delete" >Delete</button>
                </form>
            </div>
            </div>
        </div>
    </div>
    <!-- DELETE QUOTE -->
{% endblock body %}

{% block scripts %}
<script src="{% static 'bushmen/js/quotes.js' %}"></script>
<script>
$('#quotes').addClass('active');
</script>
{% endblock scripts %}

